:root{
    --main-color: rgb(35, 192, 35);
    --nav-font-size: 18px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1{
    font-family: "Oswald", sans-serif;
    
}

/*header section*/


.header-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-logo{
    display: flex;
    align-items: center;
}

.header-logo a{
    margin-left: 30px;

}


/*nav*/

.nav-container{

}

.nav-items{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.nav-items ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-items ul li a{
  
    font-size: var(--nav-font-size);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color:black;
    margin: 20px;
    transition: 0.4s ease;
}



.navbar-link{
    font-size: var(--nav-font-size);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color:black;
    margin: 20px;
    transition: 0.4s ease;
    
}

.navbar-link:hover{
    font-size: 20px;
}

/*main*/

.main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;

    
}

.first{
    display: flex;
    width: 80%;
    
}


.second{
    display: flex;
    width: 80%;
}

.main-item{
    width: 50%;
    height: 350px;
    padding: 3px;
    overflow: hidden;
   
    /* margin-top: 20px; */
   
}

.main-item2{
    width: 33.3%;
    height: 250px;
    padding: 3px;
    overflow: hidden;
}

.main-item2 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.main-item-link{
    position: relative;
    top: 73%;
    left: 10%;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    z-index: 1000;
    background-color: rgb(2,2,90);
    border: 2px solid orange;
    padding: 5px;
    border-radius: 10px;
}

.main-item-img{
    /* object-fit: fill; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.6s ease;
    object-fit: cover;
  
}

.main-item-img:hover{
    transform: scale(1.1);
}


.main-item2 a{
    position: relative;
    width: 100%;
    height: 100%;
    top: 73%;
    left: 10%;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    z-index: 1000;
}

/*aktualnosci*/

.aktualnosci{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


/*galeria*/

.galeria-container{
    display: flex;
    flex-direction: column;

}

.galeria-container h1{
    text-align: center;
    margin-top: 50px;
}



.galeria-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.galeria-item{
    position: relative;
    width: 30%;
    height: 30%;
    padding: 5px;
   
}

.galeria-item img{
    width:100%;
    object-fit: cover;
    
}

.galeria-item p{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:white;
    font-size: 1.2rem;
    text-align: center;
}


/* partner*/

.partner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.partner-container h1{
    margin-top: 50px;
}

.partner-logo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.partner-logo img{
    
    width: 15vw;
    height: 200px;
    object-fit: contain;
    transition: 0.5s ease;
}

.partner-logo img:hover{
    transform: scale(1.1);
  filter: grayscale(0);
}

.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: #ffe6b9;
}

.contact-item{
    width: 100%;
    display: flex;
    gap:50px;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.contact-item p{
    margin-bottom: 0;
}


/*seniorzy*/

.seniorzy-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seniorzy-kadra{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.seniorzy-zawodnik{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    
}

.seniorzy-zawodnik img{
   width: 100%;
}

.wynajem-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.wynajem-header{
    margin: 10px;
}

.boiska img{
    width: 100%;

}

.boiska{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.male{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    transition: 1s ease;
}

.zdj{
    width: 40%;
    transition: 1s ease;
    
}

.zdj img{
    border-radius: 10px;
    transition: 0.5 ease;
}



.info{
    margin: 20px;
    box-shadow: 2px 15px 10px #4343436e;
    padding: 10px;
    transition: 0.8s ease;
    color:white;
    background-color: rgb(2,2,90);
    
}

.info:hover{
    box-shadow:7px 15px 10px rgb(48, 48, 48);
}

/* formularz*/

.formularz-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url('./img/formBack.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color:white;
}

form{
    display: flex;
    flex-direction: column;
}


.resize{
 width: 100vw;
}

.hidden{
    visibility: hidden;
}

 .formularz-container form input{
        border: 1px solid black;
        padding: 5px;
        border-radius: 5px;
        background-color: rgb(235, 235, 235);
        transition: 0.1s ease;
        

    }

    .form textarea{
        border: 1px solid black;
        background-color: rgb(211, 211, 211);
        border-radius: 5px;
        margin-bottom: 10px;
        height: 300px;
        
    }

    .formularz-container form input:hover{
        border: 2px solid black ;
    }

    .form button{
        color:white;
        background-color: rgb(2,2,90);
        border-radius: 5px;
        padding:3px 10px;
    }

    .error{
        border:2px solid red!important;
        color:red;
    }








@media only screen and (max-width: 600px){

    .header-logo{
        margin: 10px;
    }
   
    .header-logo img{
        width: 35%;
    }

    .fa-2xl{
        font-size: 1.2em;
    }

    .nav-items ul{
        flex-direction: column;
        padding-left: 0;
    }

    .first{
        flex-direction: column;
        width: 100%;
    }

    .second{
        flex-direction: column;
        width: 100%;
    }

   .main-container{
    justify-content: unset;
   }

   .main-item{
    width: 100%;
   }


   .main-item2{
    width: 100%;
   }

   .aktualnosci{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:left;
    margin-top: 10px;
    padding: 0;
   }

   .card{
    width: 100%!important;
   }

   .card-img-top{
    border-radius: 0;
   }

   .main-item-link{
    font-size: 3.7vw;
   }

   .main-item2 a{
    font-size: 4.5vw;
   }

   .galeria-items{
    flex-direction: column;
   }

   .galeria-item{
    width: 60%;
    height: auto;
   }

   .contact-item{
    flex-direction: column;
    text-align: center;
    gap: 2px;
   }

   .contact-item img{
    width: 200px;
   }

   .wynajem-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .boiska{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* .boiska img{
        width: 100%;
    } */

    .boiska h2{
        font-size: 1.7rem;
    }

    .male{
        align-items: baseline;
    }

    .zdj{
        width: 80%;
    }

    .formularz-container{
        margin: 10px;
    }

    .formularz-container form input{
        padding: 5px;
        border-radius: 5px;
        background-color: rgb(235, 235, 235);
        transition: 0.8s ease;

    }

    .formularz-container form input:hover{
        background-color: white;

    }


    textarea{
        min-height: 240px;
        padding: 5px;
        background-color: rgb(235, 235, 235);
        border-radius: 10px;
        transition: 0.8s ease;
    }

    textarea:hover{
        background-color: white;
    }

    .formularz-container button{
        margin: 10px;
        padding: 5px 20px;
        background-color: rgb(2,2,90);
        color:white;
        border-radius: 10px;
        border: 2px solid rgb(255, 132, 0);
    }

   
}
